
.ul{
    height: 100%;
}
    .container{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        flex-wrap: wrap;

        .item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(7, 7, 7);
            position: relative;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                z-index: 1;
            }
            
        }
.text-container {
    display: block;
    padding: 15%;
}
        .p {
            justify-content: center;
            
        }
    }