    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        flex-wrap: wrap;

        .item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(7, 7, 7);
            position: relative;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

           
            }
        }